@page
@model RazorFriberg.Pages.Customer.BookingConfirmedModel

@{
    ViewData["Title"] = "BookingConfirmed";
}

<h1>Bokning genomförd!</h1>
<p>Tack. Vi ses @Html.DisplayFor(model => model.Rent.StartDate) klockan 12:00 för upphämtning av bil!</p>

<div>
    <h4>Bokning</h4>
    <hr />
    <dl>
        <dt>
            Bil
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rent.Car.Brand) - @Html.DisplayFor(model => model.Rent.Car.CarModel)
        </dd>
        <dt>
            Datum
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rent.StartDate)
            @Html.DisplayFor(model => model.Rent.RenturnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rent.Car.PricePerDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rent.RenturnDate)
        </dd>
        <dt>
            Totalt
        </dt>
        <dd>
            @ViewData["TotalPrice"]kr
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./MyRents" asp-route-id="@Model.Rent.Id">Kolla mina Bokningar</a>
</div>
