@page
@model RazorFriberg.Pages.Customer.BookingConfirmedModel

@{
    Layout = "_CustomerLayout";
    ViewData["Title"] = "BookingConfirmed";
}

<h1>Bokning genomförd!</h1>
<h2>Tack. Vi ses @Html.DisplayFor(model => model.Rent.StartDate) klockan 12:00 för upphämtning av bil!</h2>
<hr/>
<div class="dl-div center-me">
    <dl>
        <dt>
            Bil
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rent.Car.Brand) - @Html.DisplayFor(model => model.Rent.Car.CarModel)
        </dd>
        <dt>
            Datum
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rent.StartDate) -
            @Html.DisplayFor(model => model.Rent.RenturnDate)
        </dd>
        <dt>
            Pris/Dygn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rent.Car.PricePerDay)kr
        </dd>
        <dt>
            Totalt
        </dt>
        <dd>
            @ViewData["TotalPrice"]kr
        </dd>
    </dl>
</div>
@{
    // TODO: Design/färg
}
<div>
    <a asp-page="./MyRents" asp-route-id="@Model.Rent.Customer.Id">Kolla mina Bokningar</a>
</div>
