@page
@model RazorFriberg.Pages.Customer.DeleteRentModel

@{
    ViewData["Title"] = "DeleteRent";
}
<div class="back">
    <a asp-page="/Customer/Index" asp-route-id="@Model.Customer.Id">&larr; Tillbaka</a>
</div>
<h1><i class="fa-solid fa-trash-can"></i></h1>

<h3>Är du säker på att du vill avbryta denna bokning?</h3>
<hr />
<div class="dl-div">

    <dl>
        <dt>
            Datum
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rent.StartDate) - @Html.DisplayFor(model => model.Rent.RenturnDate)
        </dd>
        <dt>
            Bil
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rent.Car.Brand) - @Html.DisplayFor(model => model.Rent.Car.CarModel)
        </dd>
        <dt>
            Pris/Dygn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rent.Car.PricePerDay)kr
        </dd>
        <dt>
            Totalt
        </dt>
        <dd>
            @ViewData["TotalPrice"]kr
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Rent.Id" />
        <input type="submit" value="Delete" class="input-button danger delete" />
    </form>
</div>
